/* SETUP */

body {
  margin: 0 5rem;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  height: 50vh;
}

/* COLOR CLASSES */

.pink {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  .blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 30%;

    .red {
      margin-bottom: 2rem;
    }
  }
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
  height: 60%;
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}
